.container {
	text-align: center;
	margin-top: 50px;
}

.traffic-light {
	width: 100px;
	height: 180px;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
	border-radius: 10px;
	margin: 0 auto;
}

.light {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: grey;
}

.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}

.green {
	background-color: green;
}

.controls {
	margin-top: 20px;
}



button:hover {
	opacity: 0.8;
}

button:nth-child(1) {
	color: red;
}

button:nth-child(2) {
	color: yellow;
}

button:nth-child(3) {
	color: green;
}
