.app-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;
  text-align: center;
}

.app-container.light {
  background-color: white;
  color: black;
}

.app-container.dark {
  background-color: #333;
  color: white;
}
